.formulaire {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    .blocphoto {
        width: 40vw;
        height: 120vh;
        background-color: #c1c1c1;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        padding: 40px;
        width: 60vw;

        .titre-form {
            text-align: center;
            padding-bottom: 1em;
        }

        input, button {
            font: inherit;
        }

        .form-nom-prenom,
        .form-tel-email,
        .form-message,
        .form-objet,
        .submit-btn,
        .info {
            display: flex;
            justify-content: center;
            margin: 20px;
            gap: $gap;
        }

        .sub-message,
        .sub-objet {
            display: flex;
            flex-direction: column;
            width: calc(40vw + $gap);
        }

        .form-nom,
        .form-prenom,
        .form-tel,
        .form-email {
            display: flex;
            flex-direction: column;
            width: 20vw;
        }

        #nom,
        #prenom,
        #tel,
        #email,
        #objet {
            height: 40px;
            margin-block: 20px;
            padding: 10px;
            border-radius: 10px;
            border: solid 1px;
        }

        #message {
            height: 200px;
            margin-block: 20px;
            padding: 20px;
            border-radius: 10px;
        }

        .submit-btn {
            button {
                margin-bottom: 50px;
                padding: 30px;
                width: 12vw;
                background-color: $cl-yellow;
                color: rgb(0, 0, 0);
                border: none;
                border-radius: 100px;
                cursor: pointer;
                transition: background-color 0.5s ease;
                transition: transform 0.1s ease;
            }

            & :active {
                background-color: #ae9100;
                transform: scale(0.95);
            }
        }

    }
}