header {
    @extend %font-nav;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $cl-white;
    background-color: $cl-black;

    padding: .8em 1.6em;

    .nav {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;

        &__logo {
            margin-right: auto;

            &__link {
                display: inline-block;
                text-decoration: none;

                svg {
                    width: auto;
                    height: 5em;
                }
            }
        }

        &__menu {
            position: absolute;
            inset: 0;

            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            gap: 1.25em;

            pointer-events: none;

            &__link {
                text-decoration: none;
                text-transform: uppercase;

                color: inherit;

                pointer-events: auto;

                &:hover {
                    color: $cl-yellow;
                }
            }
        }
    }
}

.headline {
    @extend %font-intro;
    text-align: center;
    padding-bottom: 2.5em;
    text-wrap: balance;
}

.pimage {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    margin-inline: auto;
    max-width: 70%;

    &__p {
        line-height: 1.5;
        max-width: 45ch;

        ul {
            list-style: outside;
            padding-inline-start: 1.8em;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &.pimage-l &__p {
        padding-left: 2em;
    }

    &.pimage-r {
        .pimage__p {
            padding-right: 2em;
            grid-column: 1;
            grid-row: 1;
        }

        .pimage__img {
            grid-column: 2;
            grid-row: 1;
        }
    }

    &:has(+ .pimage) {
        padding-bottom: 2em;
    }
}

@media screen and (width < 1600px) {
    .pimage {
        max-width: 90%;
    }
}

@media screen and (width < 1100px) {
    .pimage {
        max-width: calc(100% - 2em * 4);
    }
}

@media screen and (width < 800px) {
    .pimage {
        display: block;
        max-width: calc(100% - 2em);

        &__img {
            display: block;
            margin-bottom: 1em;
        }

        &.pimage-l {
            .pimage__p, .pimage__img {
                grid-column: unset;
                grid-row: unset;
            }
        }
    }
}

@import '_home.scss';

