<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="nav">
                <div class="nav__logo">
                    <a class="nav__logo__link" href="#accueil">
                        {{ file_get_contents("../assets/logo.svg") | raw }}
                    </a>  
                </div>   
                <div class="nav__menu">
                    <a class="nav__menu__link" href="#accueil">Accueil</a>
                    <a class="nav__menu__link" href="#activites">Activités</a>
                    <a class="nav__menu__link" href="#offres">Offres</a>
                    <a class="nav__menu__link" href="#faq">F.A.Q.</a>
                    <a class="nav__menu__link" href="#contact">Contact</a>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
